        .crumbs {
            font-size: 10px;
            margin: 2px;
            font-family:  "Halvetica","roboto","Arial" sans-serif;
            opacity: 38%;
        }   
      
        .card  {
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1),0 1px 0 rgba(0,0,0,0.10)!important;
            font-size: 16px;
            font-weight: 400;
            min-height: 280px;
            max-width: 360px;
            overflow: hidden;
            z-index: 0;
            position: relative;
            background: #FFFFFF;
            border-radius: 2px;
            box-sizing: border-box;
            margin-left: 2px;
            margin-right: 2px;
            max-height: 50px;
            margin: 2px;
            text-align: justify;
            
        }
        
        hr     {
            margin: 5px;
            
        }
        
        .map-position {
            position: absolute;
            right: 0px;
            top: 0px;
            overflow: hidden;
            width: 40%;
            height: 100%;
            z-index: 0;
        }
        
        .nav-position {
            position:relative;
            top: 0;
            width: 100%;
            height: 100%;
        }
        
        .filter-position {
            position: fixed;
            top: 62px;
            left: 0;
            bottom: 0;
            width: 60%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
           
        }
    
        .hobbytags-position {
            z-index : 2;
            top: 10%;
        height: 16px;
            left: 0;
            bottom: 0;
            width: 100%;
            
            -webkit-overflow-scrolling: touch;
               transition: -ms-transform 0.5s,-webkit-transform 0.5s,transform 0.5s !important;
         white-space: nowrap !important;
        overflow-x: scroll !important; 
        -webkit-overflow-scrolling: touch;
            overflow-y: hidden !important;
            padding: 0 18px;
         margin-bottom: -30px !important;
        }
    
::-webkit-scrollbar {
    -webkit-appearance: none;


}


::-webkit-scrollbar:horizontal {
    height: 6px;

}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 18px;
    border: 1px solid #ffffff;


}

::-webkit-scrollbar-track {
    border-radius: 18px;  
    background-color: #ffffff; 


}
        
        .full-container{
            position: absolute;
            top: 62px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            
        }
        
        .navbar {
            margin-bottom:auto;
            background-color: #FFF;
            font-style: bold;
            border: 1px;
            font-size: 15px !important;
            letter-spacing: 4px;
            border-radius: 0px;
            border: 1px solid #F5F5F5;
            font-family: "Roboto","Arial", sans-serif;
            box-shadow: 0 0px 0px 0 ;
            position: fixed;
            width: 100%;
            z-index: 1;

  }
        card1{
            max-height: 280px;
            overflow: hidden;
            z-index: 0;
            position: relative;
            background: #FFFFFF;
            border-radius: 1px;
            border: .5px;
            box-sizing: border-box;
  }
      
 
    
        .slideanim {visibility:hidden;}
        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
  }
            @keyframes slide {0% { opacity: 0; transform: translateY(70%);}
            100% { opacity: 1; transform: translateY(0%);} }
            @-webkit-keyframes slide {
            0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
    }
            100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
    }
  }
            @media screen and (max-width: 768px) {
    
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
    }
    
        .btn-lg {
            width: 100%;
            margin-bottom: 35px;
    }
  }
            @media screen and (max-width: 480px) {
    
        .logo {
            font-size: 150px;
    }
  }

       body    
           {
            font-family: "Roboto",sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            background: :#fff;
            text-align: justify; 
        }

    .text-muted {
                color: #767676;   }
      
    h1      {
            font-size: 112sp;
            color: #484848;
            font-weight: 300;
            font-family: "Roboto","Arial" sans-serif;
  }
      
        h2      {
            font-size: 56sp;
            color: #484848;
            font-weight: 400;
            font-family: "Roboto","Arial" sans-serif;
  }
      
        h3      {
            font-size: 45sp;
            font-weight: 400;
            font-family: "Roboto","Arial" sans-serif;
            color: #484848;
  }
      
        h4      {
            font-size: 34sp;
            line-height: 1.375em;
            color: #484848;
            font-weight: 400;
            font-family: "Roboto","Arial" sans-serif;
  }
      
        h5      {
            font-size: 24sp;
            color: #484848;
            font-weight: 400;
            font-family: "Roboto","Arial" sans-serif;
  }
      
        h6      {
            font-size: 20sp;
            color: #484848;
            font-weight: 500;
            font-family: "Roboto","Arial" sans-serif;
  }
      
         p      {
            font-size: 16sp;
            font-family: "Roboto","Arial" sans-serif;
            color: #484848;
            margin: 0;
                line-height: 1.43;
            -webkit-font-smoothing: antialiased;
  }
      
        hr     {
            margin-top: 5px;
            margin-bottom: 5px;
            border: 0;
            border-top: 1px solid #eee;
            margin: 20px 0;
            
    }

        .post-pic{
            max-width: 100%;
            max-height: 300px;
            background-size: 100% 100%;
        background-image: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent 40%,transparent 60%,rgba(0,0,0,.3));
            opacity: 1;
            transition: all .15s ease-in-out;
            
    }

    
        .topstories-pic{
            max-height: relative;
            max-width: relative;
    }
        
        .top-stories{
            text-align: center; 
            background-color: #F5F5F5;
            padding-top: 40px;
            padding-bottom: 60px;
            padding-left: 100px;
            padding-right: 100px;
            margin-top: 10px;     
    }

        .card{
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1),0 1px 0 rgba(0,0,0,0.10)!important;
            font-size: 16px;
            font-weight: 400;
            min-height: 250px;
            overflow: hidden;
            z-index: 0;
            position: relative;
            background: #FFFFFF;
            border-radius: 2px;
            box-sizing: border-box;
            margin-left: 2px;
            margin-right: 2px;
            max-height: 50px;
            margin: 2px;
        
    }

        .pad{
            padding: 10px 10px;
        }


        .crumbs {
            font-size: 12px;
            margin: 2px;
            background: #fafafa;
            font-family:  "Roboto","Arial" sans-serif;
            color: #0000;
            opacity: 38%;
    }

        .tabpanel{
            background-color:#4DB6AC;
            color: #fff;
            font-family:  "Roboto","Arial" sans-serif;
            margin-bottom: 40px;
    }
     
        
        .cover-image{
            padding: 0px 0px;
            min-height: 100px;
            max-height: 150px;
            font-family: "Roboto","Arial" sans-serif;
            text-align: center;
        
    }

        .tab-text-format {
            padding: 5px 5px;
            color: #0000;
            font-size: 14px;
            letter-spacing: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
            text-align: left;
            padding-right: 5px;
            padding-left: 5px;
    }

        .related-search{
            text-align: left; 
            background-color: #F5F5F5;
            padding: 100px 40px;
            margin-top: 5px;
          
    }

        .starlogo {
            font-size: 120px;
            color: #FBC02D;
    }
    
        .logorating {
           font-size: 12px;
            color: #FBC02D;
    }
    
        .ratingbars{
            margin-bottom: 5px;
            margin-top: 5px;
            height: 10px;
    }
    
        .panel {
            border: 1px solid #536E7B;
            border-radius:0 !important;
            transition: box-shadow 0.5s;
    }
    
    
  
        card1{
            max-height: 280px;
            overflow: hidden;
            z-index: 0;
            position: relative;
            background: #FFFFFF;
            border-radius: 1px;
            border: .5px;
            box-sizing: border-box;
  }
      
        .navbar li a, .navbar .navbar-brand {
            color: #fafafa !important;
  }
        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #607D8B !important;
            background-color: #fff !important;
  }
        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
  }
    
        .slideanim {visibility:hidden;}
        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
  }
            @keyframes slide {0% { opacity: 0; transform: translateY(70%);}
            100% { opacity: 1; transform: translateY(0%);} }
            @-webkit-keyframes slide {
            0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
    }
            100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
    }
  }
            @media screen and (max-width: 768px) {
    
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
    }
    
        .btn-lg {
            width: 100%;
            margin-bottom: 35px;
    }
  }
            @media screen and (max-width: 480px) {
    
        .logo {
            font-size: 150px;
    }
  }
      
        .booking-card{
            text-align: center; 
            background-color: #F5F5F5;
            padding: 40px 10px;
            margin: 10px;
            background-color: #FFFFFF;
            border: .5px #e2e2e2;
          
  }
        .vendor-logos{
            max-height: 75px;
            max-width: 75px;
          
  }

     .footer-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #BDBDBD;

} 
 
         .searchbar-masthead {
            padding: 2px 6px;
            width: 100%;
            border-color: #FFF;
            padding-top: 1px;
            font-size: 16px;
        border-radius: 5px 0px 0px 5px;
  }
        .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #transparent;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #transparent;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.tooltip {
    width: 150px;
    height:22px;
    background-color: #EEEEEE;
    font-family: "Roboto","Arial" sans-serif;
    margin-bottom: 6%;
    margin-top: 6%;
    color: #484848
    color: #000;
    z-index:1;
    text-style:bold;
    text-align: center;
    border: 0px solid #008489;
    margin-left: -77px;
    margin-top: -65px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 5;
    
}

.tooltip::after {
    content: "";
    position: absolute;
    height:0;
    width:0;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    
}   
.tooltipn {
    width: 90px;
    height:24px;
    background-color: #555;
    color: #000;
    z-index:2;
    text-style:bold;
    text-align: center;
    border: 1px solid #ff8;
    margin-left: -50px;
    margin-top: -60px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 5;
    
}  
.tooltipn::after {
    content: "";
    position: absolute;
    height:0;
    width:0;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    
}



.message-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #BDBDBD;

}
     .heading-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

} 

        .header-small-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #BDBDBD;

} 
      .header-medium-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #BDBDBD;

}

     .header-large-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none; 
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #BDBDBD;

} 
     .button-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

} 